body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2ede7;
  color: #333;
  overflow-x: hidden;
}

.principal {
  background-image: -moz-linear-gradient(180deg, #560764 0%, #4e3188 100%);
  background-image: -webkit-linear-gradient(180deg, #560764 0%, #4e3188 100%);
  background-image: -ms-linear-gradient(180deg, #560764 0%, #4e3188 100%);
  padding: 2em 0;
}

.principal-descricao {
  padding-top: 6em;
}

.principal-descricao h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 40px;
  color: #fff;
}

.principal-descricao p, .principal-descricao span {
  font-size: 14px;
}

.principal-descricao p {
  color: #fff;
  line-height: 1.6em;
}

.principal-descricao span {
  display: block;
  margin: 1em 0;
  color: #aca6b4;
}

.principal-arte img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 992px) {
  .principal-descricao {
    padding-top: 3em;
  }
  .principal-arte img {
    padding-top: 3em;
  }
}

@media (max-width: 669px) {
  .principal-descricao {
    text-align: center;
  }
  .principal-arte img {
    width: 350px;
  }
}

@media (max-width: 450px) {
  .principal-arte img {
    width: 100%;
  }
}

.projetos {
  padding: 2em 0;
}

.projetos .estrutura {
  margin: 2em 0;
}

.projetos h2 {
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #4e3188;
  padding: 1em 0.4em;
}

.projetos-descricao {
  position: relative;
  width: 550px;
  height: 270px;
  background-color: white;
  margin: 1em 0;
}

.projetos-descricao h3 {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  padding: 1em 0 0.5em 0;
  color: #560764;
  font-weight: 700;
}

.projetos-descricao p {
  font-size: 14px;
  line-height: 1.4em;
  color: #4e4e4e;
  padding: 0 0.8em 0 0.8em;
}

.projetos-descricao-tecnologias {
  text-align: center;
}

.projetos-descricao-tecnologias span {
  display: inline-block;
  padding: 0.3em 2em;
  margin: 0 0.5em 1.5em 0.5em;
  background-color: #fc7a51;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 15px;
  font-size: 12px;
}

.projetos-descricao-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.projetos-descricao-info a {
  display: inline-block;
  padding: 0.6em 0;
  background-color: #560764;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  width: 50%;
  font-weight: bold;
}

.projetos-descricao-info a:nth-child(1) {
  background-color: #4e3188;
}

.projetos-descricao-info a:hover {
  color: #fc7a51;
}

.projetos-arte img {
  display: block;
  margin: 0 auto;
  width: 300px;
}

@media (max-width: 1200px) {
  .projetos-descricao {
    width: 480px;
  }
}

@media (max-width: 993px) {
  .projetos-descricao {
    display: block;
    margin: 0 auto;
    float: none !important;
  }
  .projetos-arte img {
    padding-top: 2em;
  }
}

@media (max-width: 600px) {
  .projetos-descricao {
    width: auto;
    height: auto;
  }
  .projetos-descricao p {
    padding: 0 0.8em 5em 0.8em;
  }
  .projetos-descricao-tecnologias span {
    padding: 0.3em 1em;
  }
}

@media (max-width: 360px) {
  .projetos-arte img {
    width: 100%;
  }
}

.contato {
  padding: 3em 0;
  background-image: -moz-linear-gradient(180deg, #560764 0%, #4e3188 100%);
  background-image: -webkit-linear-gradient(180deg, #560764 0%, #4e3188 100%);
  background-image: -ms-linear-gradient(180deg, #560764 0%, #4e3188 100%);
  text-align: center;
}

.contato h2 {
  color: #fff;
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 1em;
}

.contato a {
  padding: 0 0.5em;
}

.contato a img {
  width: 50px;
}

footer {
  padding: 1em 0;
}

footer p {
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}

footer img {
  display: block;
  margin: 0.5em auto;
}
