* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.row {
    margin-left: -5px;
    margin-right: -5px;
}
    .row:before,
    .row:after {
        content: '';
        display: table;
    }
    .row:after {
        clear: both;
    }

.col {
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-right: -4px;

    *zoom: 1;
    *display: inline;
}

@media (min-width: 993px) {
    .container {
        max-width: 1200px;
    }
    .col-md-2 {
        width: 50%;
    }
}

@media (min-width: 669px) and (max-width: 992px) {
    .container {
        max-width: 850px;
    }

    .col-sm-2 {
        width: 50%;
    }
}